snippet commentheader
/* ***********************************************************************
    * Filename: `!p snip.rv = snip.fn`
    * Date: ${0: `date`}
    * Author (Programmer): ${1:Name} <${2:Email}>
    * Description: ${3:Description}
   *********************************************************************** */
endsnippet

snippet basic
#include <iostream>
using namespace std;

int main() {
	${0}	
	return 0;
}
endsnippet
