snippet random1to100
`!sh
n=$RANDOM;
let "n %= 100";
let "n += 1";
echo $n;`
endsnippet

snippet random
`r!echo $RANDOM;`
endsnippet

snippet cpheader
//${1:Judge} - ${2:Problem Name} - ${3:Problem ID}
endsnippet

